<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>{{ user.get_username }}</h1>
    <a href="{% url 'new_contact' %}">New Contact</a>
    <h2>Contacts</h2>
    <ul>
        {% for contact in contacts %}
        <li><a href="{% url 'contact_details' pk=contact.pk %}">{{ contact.contactName }}</a></li>
        {% endfor %}
    </ul>
    <h2>Shared Contacts</h2>
    {% for contact in shared_contacts %}
        <li>{{ contact.user.get_username }} ({{ contact }})<a href="{% url 'remove_share' pk=contact.pk%}">Remove</a></li>
    {% endfor %}
    <h2>Requests</h2>
    <ul>
    {% for share in shares %}
        <li>{{ share.sharedWith.get_username }} requests to see {{ share.contact }} <a href="{% url 'approve_share' pk=share.pk%}">Approve</a><a href="{% url 'remove_share' pk=share.pk%}">Deny</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'sharing' %}">People you share with</a>
</body>
</html>