{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h1>You are sharing your contact with:</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Contact</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for share in shares %}
            <tr>
                <td class="col-md-3"><a href="">{{ share.contact }}</a></td>
                <td class="col-md-3"><a href="">{{ share.sharedWith.get_username }}</a></td>
                <td class="col-md-9" id="">
                    <button class="btn btn-danger">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}